In [1]:
import pandas as pd
df=pd.read_csv('instagram_reach.csv')
df.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            94 non-null     object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    object
 7   Likes              100 non-null    int64
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [3]:
df.columns

Index(['Unnamed: 0', 'S.No', 'USERNAME', 'Caption', 'Followers', 'Hashtags',
       'Time since posted', 'Likes'],
      dtype='object')

In [4]:
df['Time since posted']=df['Time since posted'].str.replace(r'\D','')
df.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3,30

In [5]:
x=df.drop(['Likes','Unnamed: 0', 'S.No', 'USERNAME', 'Caption','Hashtags'],axis=1)
x.head()

   Followers Time since posted
0       1600                11
1        880                 2
2        255                 2
3        340                 3
4        304                 3

In [6]:
y=df['Likes']
y.head()

0    139
1     23
2     25
3     49
4     30
Name: Likes, dtype: int64

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
Lreg=LinearRegression()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train

    Followers Time since posted
86        361                 4
63         66                 3
90        863                 2
1         880                 2
57       3147                 2
..        ...               ...
18         75                 4
68        371                 2
11       2232                 8
76        181                 2
37        124                 2

[80 rows x 2 columns]

In [8]:
Lreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
Lreg.predict([[300,10]])

array([104.85639484])

In [12]:
y_pred=Lreg.predict(x_test)

In [13]:
y_pred

array([ 38.69965753,  29.72986664,  27.83274153,  29.27134697,
        27.25959196,  28.42881709,  27.3398329 ,  31.07676815,
        47.45403772,  37.91563567, 115.80474484,  32.92804128,
        52.00245924,  41.4118481 ,  27.69518563,  47.5330856 ,
        31.49516734,  32.20014132,  31.32322246,  37.79527426])

In [14]:
from sklearn.metrics import mean_squared_error
result=mean_squared_error(y_test,y_pred)

In [15]:
result

1772.5885449671302